<div class="header">

    <div class="header__left">
        <div class="logo d-flex">
            <img src="/assets/icons/logo.svg">
        </div>
    
        <div class="searching-wide">
            <a class="searching-wide__link" routerLink="productssearch">
                <img src="/assets/icons/search.svg">
                <p>Search for anything</p>
            </a>
        </div>
    </div>


    <div class="spacing">

    </div>

    <div class="bell d-flex mx-12">
        <img src="/assets/icons/bell.svg">
    </div>

    <div class="searching d-flex mx-12">   
        <a routerLink="productssearch">
            <img src="/assets/icons/search.svg">
        </a>
        <!-- <input type="text" class="search__input" autofocus placeholder=" "> -->
    </div>

    <div class="filter d-flex mx-12">
        <img src="/assets/icons/filter.svg">
    </div>

    <div class="user d-flex mx-12">
        <img class="user-img" [src]="userImg">
    </div>

</div>

