@use '../../scss/variables.scss' as v;

:host {
    display: block;
    margin: auto;
    height: 100%;
    min-width: var(--minWidth);
    max-width: var(--tabletWidth);    
}

.body {
    display: flex;
    height: 100%;
    background-color: var(--bkg-color-secondary);
}

@media (width >= v.$tabletWidth) {   
   :host {
        max-width: var(--desctop1200Width);
   }
   .body {
     background-color: var(--bkg-color-primary);
   }   
}

@media (width >= v.$desctop1200Width) {   
    :host {
         max-width: var(--desctop1440Width);
    }   
 }

 @media (width >= v.$desctop1440Width) {   
    :host {
         max-width: var(--desctop1920Width);
    }   
 }

 @media (width >= v.$desctop1920Width) {   
    :host {
         max-width: var(--desctop1920Width);
    }   
 }

 button {
     background-color: var(--card-bkg-color);
     color: var(--text-color-primary);
 }