/* You can add global styles to this file, and also import other style files */
@use './app/scss/variables.scss' as variables;

:root {
    --minWidth: #{variables.$minWidth};
    --tabletWidth: #{variables.$tabletWidth};
    --desctop1200Width: #{variables.$desctop1200Width};
    --desctop1440Width: #{variables.$desctop1440Width};
    --desctop1920Width: #{variables.$desctop1920Width};
    --sidebarWidth: 280px
}

body {
    --text-color-primary: #030303;
    --text-color-secondary: #9c9c9c;
    --bkg-color-primary: #f7f7f7;
    --bkg-color-secondary: #ffffff;
    --border-color: #cccccc;
}

body.dark-theme {
    --text-color-primary: #eeeeee;
    --text-color-secondary: #9c9c9c;
    --bkg-color-primary: #252423;
    --bkg-color-secondary: #323130;
    --border-color: #000000;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    color: var(--text-color-primary);
}