/* You can add global styles to this file, and also import other style files */
@use './app/scss/variables.scss' as variables;

:root {
    --minWidth: #{variables.$minWidth};
    --tabletWidth: #{variables.$tabletWidth};
    --desctop1200Width: #{variables.$desctop1200Width};
    --desctop1440Width: #{variables.$desctop1440Width};
    --desctop1920Width: #{variables.$desctop1920Width};
}

body {
    --text-color: #030303;
    --bkg-color: #fafafa;
    --card-bkg-color: #ffffff;
    --border-color: #cccccc;
}

body.dark-theme {
    --text-color: #eeeeee;
    --bkg-color: #252423;
    --card-bkg-color: #323130;
    --border-color: #000000;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    color: var(--text-color);
}